<div class="header-container">
    <div class="header">
        <div class="header-drop-down">
            
            <input type="image" src="{{ section.settings.button_image | image_url: width: 18 }}" class="header-drop-down">
            <div class="dropdown-content">
                {% for link in linklists.main-menu.links %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
            </div>
        </div>
            
            
        <img loading="lazy" class="header-logo" src="{{ section.settings.logo | image_url: width: 250 }}">
        

        <form action="{{ routes.cart_url }}">
          <input type="image" src="{{ section.settings.cart_image | image_url: width: 22}}" class="header-cart">
        </form>
    </div>

</div>

{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Header Logo"
    },
    {
      "type": "image_picker",
      "id": "button_image",
      "label": "Button Image"
     },
     {
      "type": "image_picker",
      "id": "cart_image",
      "label": "Cart Image"
     }
  ]
}
{% endschema %}