<div class="image-menu-container">
    {% for block in section.blocks %}
      
        <div class="image_item">
          {% if block.settings.title != blank %}
            <h4 class="image-menu-title">{{ block.settings.title }}</h4>
            {% else %}
             <h4 class="image-menu-title">Spruce</h4> 
          {% endif %}

          {% if block.settings.description != blank%}
            <p class="image-menu-description">{{ block.settings.description }}</p>
            {% else %}
             <p class="image-menu-description">A very small description</p> 
          {% endif %}
          
          
            <a href="{{ linklists.main-menu.links[0] }}">
                {% if block.settings.image != blank %}
                    <img class="menu-image" src="{{ block.settings.image | image_url: width: 450, height: 450, crop: center }}" alt="">
                {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'menu-image' }}
                {% endif %}
            </a>
        </div>
    {% endfor %}
</div>


{% schema %}
{
  "name": "Image Menu",
  "class": "image-menu-section",
  "presets": [
    {
      "category": "Menu",
      "name": "Image Menu"
    }
  ],
  "blocks": [
    {
      "name": "Image Menu Item",
      "type": "image_picker",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Block Image"
        },
        {
         "type": "text",
         "id": "title",
         "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
       
      ]
    }
  ]
}
{% endschema %}