{% paginate collection.products by 3 %}
    <div class="collection-info">
        <h1 class="collection-title">{{ collection.title }}</h1>
        <img class="collection-image" src="{{ collection.image | image_url }}">
        <p class="collection-description">{{ collection.description }}</p>
    </div>
    <div class="collection-products">
        {% for product in collection.products %}
            <div class="product-card">
                <a href="{{ product.url | within: collection }}">
                    <img class="collection-card-image" src="{{ product.featured_image.src | image_url }}" alt="{{ product.featured_image.alt | escape }}">
                </a>
                <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                {% if product.compare_at_price_max > product.price %}
                    <p class="compare-at-price">{{ product.compare_at_price_max | money }}</p>
                {% endif %}
                {{ product.price | money }}
                {% unless product.available %}
                    <br><strong>sold out</strong>
                {% endunless %}

            </div>
        {% else %}
            <p>no matches</p>
        {% endfor %}
    </div>
    <div class="sort box">
        <select name="sorting" id="sort_by" class="sort-form">
          {% for option in collection.sort_options %}
            <option value="{{ option.value }}"
              {% if option.value == collection.sort_by %}
                selected
              {% endif %}
            >{{ option.name }}</option>
          {% endfor %}
        </select>
      </div>
    {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
    {% endif %}


{% endpaginate %}
